*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/Vlg.ECommerce/wwwroot/compliedscripts
/.vs/Vlg.ECommerce/v16/Server/sqlite3
/.vs/Vlg.ECommerce/config
/packages

/Vlg.Ecommerce.Database
/VT.Ecommerce.Web/wwwroot/compliedscripts/inventory/creditInvoice.js
/VT.Ecommerce.Web/wwwroot/compliedscripts/inventory/creditInvoice.js.map
/VT.Web.Report/CR
/VT.Ecommerce.Web/wwwroot/compliedscripts/home
/VT.Ecommerce.Web/wwwroot/compliedscripts/inventory
/.vs/VoleergoCodeGenerator/FileContentIndex
/.vs/VoleergoCodeGenerator/DesignTimeBuild
.vs/VoleergoCodeGenerator/config/applicationhost.config
.vs/VoleergoCodeGenerator/v17/.futdcache.v2
.vs/VoleergoCodeGenerator/v17/fileList.bin
/VT.CodeGenerator.Web/wwwroot/compliedscripts/security
/.vs/ProjectEvaluation
/VT.CodeGenerator.Web/wwwroot/compliedscripts/ticket
/Voleergo.Erp/wwwroot/compliedscripts
/VoleergoWebsite/Properties/PublishProfiles
/Voleergo.Ticket.DB
Voleergo.Database/Voleergo.Database.jfm
Voleergo.Database/Voleergo.Database.dbmdl
/.vs
/SqlSchemaCompare4.scmp
/SqlSchemaCompare5.scmp
